.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clip-bank {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px,1fr));
}

.drum-pad {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin: 10px;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: large;
  background-color: #66994D;
}

#clip-display {
  padding-bottom: 25px;
  color:rgb(63, 139, 0);

}
